---
import RootLayout from "@layouts/RootLayout.astro";
import { Calendar } from "./_components/calendar";
import { EventsSidebar } from "./_components/events";
import db from "@/lib/db";

const currentUser = Astro.locals.user;

if (!currentUser) return null;

let courses = await db.course.findMany({
  where: {
    enrolledUsers: {
      some: {
        username: currentUser.username,
      },
    },
  },
  include: {
    classes: {
      include: {
        attachments: {
          where: {
            attachmentType: "ASSIGNMENT",
          },
        },
      },
    },
  },
});

const assignments = courses.flatMap((course) =>
  course.classes.flatMap((classItem) =>
    classItem.attachments.map((attachment) => {
      const createdAtDate = new Date(attachment.createdAt);
      const startDate = new Date(createdAtDate);
      startDate.setHours(0, 0, 0, 0);
      const endDate = new Date(createdAtDate);
      endDate.setHours(23, 59, 59, 999);

      return {
        name: attachment.title,
        description: `Assignment added on ${new Date(attachment.createdAt).toDateString()}`,
        startDate,
        endDate,
        link: `assignments/${attachment.id}`,
      };
    })
  )
);


const classEvents = courses.flatMap((course) =>
  course.classes.map((classItem) => ({
    name: classItem.title,
    description: `Session starts at ${new Date(classItem.createdAt).toDateString()}`,
    startDate: new Date(classItem.createdAt),
    endDate: new Date(classItem.createdAt.getTime() + 2000 * 60 * 60),
    link: `courses/${course.id}/classes/${classItem.id}`,
  }))
);

const events = [...assignments, ...classEvents];
---

<RootLayout title="Events">
  <main class="bg-background">
    <div class="md:flex gap-2">
      <div class="md:fixed">
        <EventsSidebar events={events} client:load />
      </div>
      <div class="md:ml-[300px] md:flex-1">
        <Calendar events={events} client:load />
      </div>
    </div>
  </main>
</RootLayout>
